services:
  db:
    image: postgres:16-alpine
    container_name: todoapp-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: todoapp
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: todoapp-web
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres123@db:5432/todoapp
      AUTH_SECRET: ahsdljashdkjasldaljdjsa
      NEXTAUTH_URL: http://localhost:3000
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
